@model Team7ADProject.ViewModels.ManageRepViewModel

@{
    ViewBag.Title = "Index";
}

<div class="custcontainer">
    <h2>Assign Department Representative</h2>



    @using (Html.BeginForm("ManageRep", "ManageRep", FormMethod.Post, new { @class = "form-horizontal", @id = "manageRepForm", role = "form" }))
    {
        <h4>Manage Representative</h4>
        <hr />
        <br />
        <div>Current Representative: @ViewBag.empRep</div>
        <br />
        @Html.DropDownListFor(m => m.UserId, Model.UserList, "Select employee")
        @Html.ValidationMessageFor(model => model.UserList, "", new { @class = "text-danger" })

        <br />
        <br />
        <div>
            <input type="submit" value="Assign" class="greenBtn pull-right" />
        </div>
    }
</div>


@section scripts{
    <script>
    var successHandler = @ViewBag.successHandler;
        if (successHandler == 1) {
            $.notify("Department Representative assigned successfully!", {
                globalPosition: "top center",
                className: "success"
            });
        }
    </script>
}
