@model Team7ADProject.ViewModels.SideBarViewModel


<div>
    <div style="width:20%" class="menuBox">

        <a href="@Url.Action(Model.Action,Model.Controller)"> @Html.Raw(Model.Title)</a>

    </div>
</div>