@model Team7ADProject.ViewModels.SideBarViewModel
<script>
    $("menuBox").click(function () {
        window.location = $(this).find("a").attr("href");
        return false;
    })

</script>

<div>
    <div class="menuBox">
        
        <div style="padding-left:25%; padding-top:7%;">
            <p><img src="~/Content/images/Logo2.png" style="height:65%; width:65%; opacity:0.4;" /></p>
            <a class="custlink" href="@Url.Action(Model.Action,Model.Controller)" style="text-align:center;"> <b>@Html.Raw(Model.Title)</b></a>
        </div>
    </div>
</div>