@{
    ViewBag.Title = "About";
}
<div class="custcontainer">
    <h2>@ViewBag.Title.</h2>

    <table class="cusTable">
        <tr>
            <th>Name</th>
            <th>Student ID</th>
        </tr>
        <tr>
            <td>
                Chan Yuling Elaine
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Cheng Zongpei</td>
            <td></td>
        </tr>
        <tr>
            <td>Gao Jiaxue</td>
            <td></td>
        </tr>
        <tr>
            <td>Kay Thi Swe Tun</td>
            <td></td>
        </tr>
        <tr>
            <td>Lynn Lynn Oo</td>
            <td></td>
        </tr>
        <tr>
            <td>Sam Jing Wen</td>
            <td></td>
        </tr>
        <tr>
            <td>Teh Li Heng</td>
            <td></td>
        </tr>
        <tr>
            <td>Zan Tun Khine</td>
            <td></td>
        </tr>
    </table>

</div>