@{
    ViewBag.Title = "About";
}

<head>
    <link rel="icon" type="image/png" href="../../Content/login/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../../Content/login/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../Content/login/css/main.css">
    <link href="../../Content/ihover.css" rel="stylesheet">
</head>
<div>
    <div class="limiter">
        <h2>About Us</h2>
        <div class="container-login100" style="padding-left:20%;">
            <div class="wrap-login100">

                <div class="row">
                    <div class="col-sm-3">

                        <!-- normal -->
                        <div class="ih-item circle effect3 left_to_right">
                            <a href="#">
                                <div>
                                    <img src="~/Content/images/members/EC.PNG" alt="img" style="height:65%; width:65%;">
                                </div>
                                <div class="info">
                                    <h3>Elaine Chan Yuling</h3>
                                    <p>E0321097</p>
                                </div>
                            </a>
                        </div>
                        <!-- end normal -->

                    </div>
                    <div class="col-sm-3">

                        <!-- normal -->
                        <div class="ih-item circle effect3 left_to_right">
                            <a href="#">
                                <div><img src="../../Content/images/members/SAM.PNG" style="height:65%; width:65%;" alt="img"></div>
                                <div class="info">
                                    <h3>Sam Jing Wen</h3>
                                    <p>E0321129</p>
                                </div>
                            </a>
                        </div>
                        <!-- end normal -->

                    </div>
                    <div class="col-sm-3">

                        <!-- normal -->
                        <div class="ih-item circle effect3 left_to_right">
                            <a href="#">
                                <div><img src="../../Content/images/members/KT.jpg" style="height:65%; width:65%;" alt="img"></div>
                                <div class="info">
                                    <h3>Kay Thi Swe Tun</h3>
                                    <p>E0321103</p>
                                </div>
                            </a>
                        </div>
                        <!-- end normal -->

                    </div>
                    <div class="col-sm-3">

                        <!-- normal -->
                        <div class="ih-item circle effect3 left_to_right">
                            <a href="#">
                                <div><img src="../../Content/images/members/Zan.PNG" style="height:65%; width:65%;" alt="img"></div>
                                <div class="info">
                                    <h3>Zan Tun Khine</h3>
                                    <p>E0321151</p>
                                </div>
                            </a>
                        </div>
                        <!-- end normal -->

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">

                        <!-- normal -->
                        <div class="ih-item circle effect3 left_to_right">
                            <a href="#">
                                <div><img src="../../Content/images/members/LH.jpg" style="height:65%; width:65%;" alt="img"></div>
                                <div class="info">
                                    <h3>Teh Li Heng</h3>
                                    <p>E0320674</p>
                                </div>
                            </a>
                        </div>
                        <!-- end normal -->

                    </div>
                    <div class="col-sm-3">

                        <!-- normal -->
                        <div class="ih-item circle effect3 left_to_right">
                            <a href="#">
                                <div><img src="../../Content/images/members/GJX.PNG" style="height:65%; width:65%;" alt="img"></div>
                                <div class="info">
                                    <h3>Gao Jiaxue</h3>
                                    <p>E0321131</p>
                                </div>
                            </a>
                        </div>
                        <!-- end normal -->

                    </div>
                    <div class="col-sm-3">

                        <!-- normal -->
                        <div class="ih-item circle effect3 left_to_right">
                            <a href="#">
                                <div><img src="../../Content/images/members/CZP.PNG" style="height:65%; width:65%;" alt="img"></div>
                                <div class="info">
                                    <h3>Cheng Zongpei</h3>
                                    <p>E0321110</p>
                                </div>
                            </a>
                        </div>
                        <!-- end normal -->

                    </div>
                    <div class="col-sm-3">

                        <!-- normal -->
                        <div class="ih-item circle effect3 left_to_right">
                            <a href="#">
                                <div><img src="../../Content/images/members/LLO.PNG" style="height:65%; width:65%;" alt="img"></div>
                                <div class="info">
                                    <h3>Lynn Lynn Oo</h3>
                                    <p>E0321113</p>
                                </div>
                            </a>
                        </div>
                        <!-- end normal -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
