@{
    ViewBag.Title = "About";
}
<div class="custcontainer">
    <h2>@ViewBag.Title.</h2>

    <table class="cusTable">
        <tr>
            <th>Name</th>
            <th>Student ID</th>
        </tr>
        <tr>
            <td>
                Chan Yuling Elaine
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Cheng Zongpei</td>
            <td></td>
        </tr>
        <tr>
            <td>Gao Jiaxue</td>
            <td></td>
        </tr>
        <tr>
            <td>Kay Thi Swe Tun</td>
            <td></td>
        </tr>
        <tr>
            <td>Lynn Lynn Oo</td>
            <td></td>
        </tr>
        <tr>
            <td>Sam Jing Wen</td>
            <td></td>
        </tr>
        <tr>
            <td>Teh Li Heng</td>
            <td></td>
        </tr>
        <tr>
            <td>Zan Tun Khine</td>
            <td></td>
        </tr>
    </table>

</div>
@*<head>
        <link rel="icon" type="image/png" href="../../Content/login/images/icons/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="../../Content/login/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../Content/login/css/main.css">
        <link href="../../Content/ihover.css" rel="stylesheet">
    </head>
    <div class="bg-image"></div>
    <div class="bg-text">
        <div class="limiter">
            <h2>About Us</h2>
            <div class="container-login100">
                @*<div class="wrap-login100">*@

@*<div class="row">
                    <div class="col-sm-3">

                        <!-- normal -->
                        <div class="ih-item circle effect3 left_to_right">
                            <a href="#">
                                <div class="img"><img src="../../Content/images/members/EC.PNG" alt="img"></div>
                                <div class="info">
                                    <h3>Elaine Chan Yuling</h3>
                                    <p>E0321097</p>
                                </div>
                            </a>
                        </div>
                        <!-- end normal -->

                    </div>
                    <div class="col-sm-3">

                        <!-- normal -->
                        <div class="ih-item circle effect3 left_to_right">
                            <a href="#">
                                <div class="img"><img src="../../Content/images/members/SAM.PNG" alt="img"></div>
                                <div class="info">
                                    <h3>Sam Jing Wen</h3>
                                    <p>E0321129</p>
                                </div>
                            </a>
                        </div>
                        <!-- end normal -->

                    </div>
                    <div class="col-sm-3">

                        <!-- normal -->
                        <div class="ih-item circle effect3 left_to_right">
                            <a href="#">
                                <div class="img"><img src="../../Content/images/members/KT.jpg" alt="img"></div>
                                <div class="info">
                                    <h3>Kay Thi Swe Tun</h3>
                                    <p>E0321103</p>
                                </div>
                            </a>
                        </div>
                        <!-- end normal -->

                    </div>
                    <div class="col-sm-3">

                        <!-- normal -->
                        <div class="ih-item circle effect3 left_to_right">
                            <a href="#">
                                <div class="img"><img src="../../Content/images/members/Zan.PNG" alt="img"></div>
                                <div class="info">
                                    <h3>Zan Tun Khine</h3>
                                    <p>E0321151</p>
                                </div>
                            </a>
                        </div>
                        <!-- end normal -->

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">

                        <!-- normal -->
                        <div class="ih-item circle effect3 left_to_right">
                            <a href="#">
                                <div class="img"><img src="../../Content/images/members/LH.jpg" alt="img"></div>
                                <div class="info">
                                    <h3>Teh Li Heng</h3>
                                    <p>E0320674</p>
                                </div>
                            </a>
                        </div>
                        <!-- end normal -->

                    </div>
                    <div class="col-sm-3">

                        <!-- normal -->
                        <div class="ih-item circle effect3 left_to_right">
                            <a href="#">
                                <div class="img"><img src="../../Content/images/members/GJX.PNG" alt="img"></div>
                                <div class="info">
                                    <h3>Gao Jiaxue</h3>
                                    <p>E0321131</p>
                                </div>
                            </a>
                        </div>
                        <!-- end normal -->

                    </div>
                    <div class="col-sm-3">

                        <!-- normal -->
                        <div class="ih-item circle effect3 left_to_right">
                            <a href="#">
                                <div class="img"><img src="../../Content/images/members/CZP.PNG" alt="img"></div>
                                <div class="info">
                                    <h3>Cheng Zongpei</h3>
                                    <p>E0321110</p>
                                </div>
                            </a>
                        </div>
                        <!-- end normal -->

                    </div>
                    <div class="col-sm-3">

                        <!-- normal -->
                        <div class="ih-item circle effect3 left_to_right">
                            <a href="#">
                                <div class="img"><img src="../../Content/images/members/LLO.PNG" alt="img"></div>
                                <div class="info">
                                    <h3>Lynn Lynn Oo</h3>
                                    <p>E0321113</p>
                                </div>
                            </a>
                        </div>
                        <!-- end normal -->

                    </div>
                </div>
            </div>
        </div>
    </div>*@*@
    @*</div>*@
    @*<div class="custcontainer">
            <h2>@ViewBag.Title.</h2>
            </div>
            <table class="cusTable">
                <tr>
                    <th>Name</th>
                    <th>Student ID</th>
                </tr>
                <tr>
                    <td>
                        Chan Yuling Elaine
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Cheng Zongpei</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Gao Jiaxue</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Kay Thi Swe Tun</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Lynn Lynn Oo</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Sam Jing Wen</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Teh Li Heng</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Zan Tun Khine</td>
                    <td></td>
                </tr>
            </table>

        </div>*@
