@{
    ViewBag.Title = "Contact";
}
<div class="custcontainer">
    <h2>@ViewBag.Title.</h2>

    <address>
        GDIPSA Team 7<br />
        NUS-ISS<br />
        AD Project<br/>
    </address>

</div>