@model IEnumerable<Team7ADProject.ViewModels.SideBarViewModel>

@{
                
                ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>Welcome!</h2>
<div>
    @ViewBag.testing
</div>

<div class="custcontainer">
    <div style="padding:20px;">
        @foreach (var i in Model)
        {
            if (User.IsInRole(i.Roles))
            {
                <div>
                    @Html.Partial("_MenuBox", i)
                </div>
            }
        }
    </div>

</div>