@model List<Team7ADProject.Entities.CollectionPoint>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "CollectionPoint", FormMethod.Post))
{
<table>
    <span>Current Collection Point: @ViewBag.cpName</span>  
    @foreach (var item in Model)
    {
    <tr>
        <td>
        </td>
        <td>
            @Html.HiddenFor(modelItem => item.CollectionPointId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollectionDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
    </tr>
    }
</table>



}