@model List<Team7ADProject.Entities.CollectionPoint>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "CollectionPoint", FormMethod.Post))
{
    foreach (var item in Model)
    {
        <div>@Html.HiddenFor(modelItem => item.CollectionPointId)</div>
        <div>@Html.DisplayFor(modelItem => item.CollectionDescription)</div>
        <div>@Html.DisplayFor(modelItem => item.Time)</div>
    }



}