@model Team7ADProject.ViewModels.CollectionPointViewModel

@{
    ViewBag.Title = "Index";
}


@using (Html.BeginForm("UpdateCollectionPoint", "CollectionPoint", FormMethod.Post))
{
    <h2>Current Collection Point: @ViewBag.cpName</h2>

  

    foreach (var cp in Model.CollectionPoints)
    {
        @Html.RadioButtonFor(m => m.SelectedCP, cp.CollectionPointId, (cp.CollectionPointId.Equals(1) ? new { @checked = "checked" } : null)) 
        @cp.CollectionDescription
        <br />
        @cp.Time.ToShortTimeString();
        <br />
        <br />
    }
    <br />
    <br />

    <input type="submit" value="Submit" />



}
