@{
    ViewBag.Title = "GenerateDashboard";
}


<head>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>

        window.onload = function () {
            var disbChart = new CanvasJS.Chart("DisbChart", {
                animationEnabled: true,
                theme: "light1",
                title: { text: "Disbursements by Department" },
                axisY: {valueFormatString: "#,###", prefix: "$"},
                data: [{
                    type: "column",
                    dataPoints: @Html.Raw(ViewBag.DataPoints)
                }]
            });

            var chargebackChart = new CanvasJS.Chart("ChargeBack", {
                animationEnabled: true,
                title: { text: "Live Data" },
                data: [{
                    type: "column",
                    dataPoints: [
                        { label: "apple", y: 10 },
                        { label: "orange", y: 15 },
                        { label: "banana", y: 25 },
                        { label: "mango", y: 30 },
                        { label: "grape", y: 28 }
                    ]
                }]
            });

            var deptChart = new CanvasJS.Chart("Dept", {
                animationEnabled: true,
                title: {
                    text: "Live Data"
                },
                data: [{
                    type: "line",
                    dataPoints: [
                        { label: "apple", y: 10 },
                        { label: "orange", y: 15 },
                        { label: "banana", y: 25 },
                        { label: "mango", y: 30 },
                        { label: "grape", y: 28 }
                    ]
                }]
            });

            disbChart.render();
            chargebackChart.render();
            deptChart.render();
        }
    </script>
    <script>
        $(function () {
            $("#fromDTP").datepicker({
                altField: "#altfromDTP",
                altFormat: "d MM yy",
                yearRange: "2017:+0",
                maxDate: '0',
                changeMonth: true,
                changeYear: true,
                showOn: "both",
                defaultDate: "1/1/2018",
                onSelect: function (dateText, inst) {
                    $("#toDTP").datepicker("option", "minDate", $("#fromDTP").datepicker("getDate"));
                }
            }
            );
            $("#toDTP").datepicker({
                altField: "#alttoDTP",
                altFormat: "d MM yy",
                minDate: '-2y',
                maxDate: '0',
                changeMonth: true,
                changeYear: true,
                showOn: "both",
                defaultDate: "31/12/2018"
            });
        });
    </script>


</head >

<h2>Store Dashboard</h2>
<p>Dates selected: <input type="text" id="altfromDTP" disabled> to <input type="text" id="alttoDTP" disabled></p>
<div style="width:80%">
                    <div id="ReportFilters" style="width:25%; height:100%; float:right; border:groove ">
                        <form id="filterOps" name="filterOps" action=" " method="post">
                            <p>Select period:</p>
                            <p><input type="text" name="fromDTP" id="fromDTP" placeholder="Please select a date"></p>
                            <p><input type="text" name="toDTP" id="toDTP" placeholder="Please select a date"></p>
                        </form>
                    </div>
                    <div>
                        <div id="DisbChart" style="height: 300px; width: 30%;">
                        </div>
                        <div>

                        </div>
                    </div>

                    <div>
                        <div id="ChargeBack" style="height: 300px; width: 30%; ">


                        </div>
                    </div>

                    <div>
                        <div id="Dept" style="height: 300px; width: 30%;">


                        </div>
                    </div>
                </div>