
#ah:hover, #ah:visited, #ah:link, #ah:active {
    text-decoration: none;
    color: cornsilk;
}

.controls {
    margin-bottom: 10px;
}


.panel-title .trigger:before {
    content: '\e082';
    font-family: 'Glyphicons Halflings';
}

.panel-title .trigger.collapsed:before {
    content: '\e081';
}
