body {
    padding-top: 0;
    padding-bottom: 20px;
    background-color: #FFFBF3;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Sam Jing Wen Start*/

ul.nav.nav-tabs {
    margin: 10px 0;
}

    ul.nav.nav-tabs li:not(.active) a {
        background-color: #222c49;
        color: #fee1a1;
    }

    ul.nav.nav-tabs li.active a {
        border-top: 3px solid #fee1a1;
    }

img.cpimg {
    position: relative;
    height: 400px;
    width: 900px;
}

img.cplogo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 15%;
    width: 15%;
}

img.loginlogo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height:10%;
    width: 28%;
}



img.sidelogo {
    width: 20%;
    height:150px;
    background-color: #222c49;
    position: fixed;
    top: 0;
    padding:40px;
    padding-bottom:10px;
    left: 0;
}

.logincontainer {
    height: 300px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.loginsection {
    margin: 0 auto;
    float: none;
}


/*Elaine Chan*/
/* The side navigation menu */
.sidebar {
    margin: 0;
    width: 20%;
    background-color: #222c49;
    position: fixed;
    top: 150px;
    height: 100%;
    overflow: auto;
}

    /* Sidebar links */
    .sidebar a {
        display: block;
        color: #fee1a1;
        padding: 16px;
        text-decoration: none;
    }

        /* Active/current link */
        .sidebar a.active {
            background-color: #fee1a1;
            color: #222c49;
        }

        /* Links on mouse-over */
        .sidebar a:hover:not(.active) {
            background-color: #fee1a1;
            color: #222c49;
        }



/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

        .sidebar a {
            float: left;
        }

    div.body-content {
        margin-left: 0;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*Sam Jing Wen End*/

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

td {
    line-height: 40px;
}



/*ViewPORecord:To show different status of PO*/



.animate {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button {
    position: relative;
    padding: 10px 40px;
    margin: 0 10px 10px 0;
    float: left;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
}

.blue {
    border-bottom: 1px solid #2980B9;
    text-shadow: 0 -1px #2980B9;
}

.red {
    background-color: #E74C3C;
    border-bottom: 5px solid #BD3E31;
    text-shadow: 0 -2px #BD3E31;
}

.green {
    background-color: #82BF56;
    border-bottom: 5px solid #669644;
    text-shadow: 0 -2px #669644;
}

.yellow {
    background-color: #F2CF66;
    border-bottom: 5px solid #D1B358;
    text-shadow: 0 -2px #D1B358;
}

.action-button:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}


/*MenuBox - Elaine Chan*/
.menuBox {
    border: outset;
    border-radius: 10px;
    background-color: #3E4660;
    float: left;
    height: 150px;
    width: 150px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}
/*links*/
.custlink{
    color:antiquewhite;
}

a {
    color: #3E4660;
    text-decoration:underline overline;
}
    a:hover {
        text-decoration: none;
    }

/*customTable - Elaine Chan*/
.cusTable {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}
th {
    padding: 2;
    background-color: #222c49;
    color: #fee1a1;
    height: 30px;
}
th, td {
    padding: 2px;
    text-align: left;
    border-bottom: 1px solid #8F8C84;
}
tr:hover {
    background-color: #FFF7E8;
}

/*custcontainer*/
.custcontainer{
    height: 100%;
    width:70%;
    margin: 15px;
    margin-left:75px;
}

/*green button*/
.greenBtn {
    display: inline-block;
    border-radius: 5px;
    border: outset 3px #8ba964;
    background-color: #8ba964;
    text-align: center;
}

   