@model Team7ADProject.ViewModels.RaisePOViewModel

@{
    ViewBag.Title = "RaisePO";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Raise PO", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PONo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderedBy)
        </th>
        <th>

        </th>
    </tr>

   

</table>