@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Validate Invoice</h2>
<div class="form-group">
    @using (Html.BeginForm("Validate", "ValidateInvoice", FormMethod.Post, new { @class = "form-horizontal", id = "retForm", role = "form" }))
    {
        <label class="control-label">Invoice No</label>
        <input type="text" id="InvoiceNo" class="form-control" name="InvoiceNo" required>
        <label class="control-label">Invoice Amount</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" readonly id="InvoiceAmt" class="form-control" style="width:250px;" name="InvoiceAmt" value="0">
            </div>
        <label class="control-label">Supplier</label>
        <select class="form-control" name="SupplierId" id="SupplierId"></select>
        <a id="detailsBtn" class="greenBtn pull-right" onclick="alert('Please select a supplier.')">Show Details</a>
        <br />
        <br />

        <div id="SupplierDOTable">
        </div>

    }
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            let dropdown = $('#SupplierId');
            dropdown.empty();
            dropdown.append('<option selected="true" disabled>Choose Supplier</option>');
            dropdown.prop('selectedIndex', 0);
            const url = '../ValidateInvoice/GetSuppliers/';
            // Populate dropdown with suppliers
            $.getJSON(url, function (data) {
                $.each(data.suppliers, function (key, entry) {
                    dropdown.append($('<option></option>').attr('value', entry.SupplierId).text(entry.SupplierName));
                })
            });
        });

        $("#SupplierId").change(function () {
            $('#SupplierDOTable').empty();
            var selected = this.value;
            var url = '/ValidateInvoice/RenderTable/' + selected;
            document.getElementById('detailsBtn').onclick = function () { GetData(url) };
        });

        function GetData(url) {
            $.ajax({
                type: 'POST',
                url: url,
                success: function (response) {
                    if (response.success) {
                        $("#SupplierDOTable").html(response.html);
                        $("input[type='checkbox']").change(function () {
                            var total = 0;
                            $("input[type='checkbox']").each(function () {
                                if (this.checked) {
                                    var name = "Del" + this.className;
                                    var amount = document.getElementsByClassName(name);
                                    for (var i = 0; i < amount.length; i++) {
                                        total += parseFloat(amount[i].value);
                                    }
                                }
                                var txtbox = document.getElementById('InvoiceAmt');
                                txtbox.value = total;

                            });
                        });
                    }
                    else {
                        $.notify(response.message, {
                            globalPosition: "top center",
                            className: "error"
                        })
                    }
                }

            });
        }







    </script>


}
