<div class="sidebar">
    <a href="#home">Home</a>
    <a href="#news">News</a>
    <a href="@Url.Action("Contact", "Home")">Contact Side</a>
    <a href="@Url.Action("About", "Home")">About</a>
</div>
