@model Team7ADProject.ViewModels.AdjustmentViewModel
@{
    ViewBag.Title = "Confirm";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirm</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
